/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea/
.calva/
.vscode/
.lsp/

/venv
/*.topic
/*.gz
/*.zip
/*.sqlite3
/*.txt
/*.json
testdata_*/
scratch/
/data*/
